<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>


    <!-- <mat-nav-list>
      <a mat-list-item routerLink="/admin/page1" routerLinkActive="router-link-active">Page 1</a>
      <a mat-list-item routerLink="/admin/page2" routerLinkActive="router-link-active">Page 2</a>
  
     
    </mat-nav-list> -->

   
    <ng-material-multilevel-menu [items]='appItems'
    [configuration]='config' 
    (selectedItem)="selectedItem($event)"></ng-material-multilevel-menu>
  


  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>ng-admin</span>
      <span class="spacer"></span>
      <button mat-icon-button type="button" (click)="logout()">
        <mat-icon aria-label="Side nav toggle icon" class="material-icons">logout</mat-icon>
      </button>

    </mat-toolbar>

    <div class="content">
      <router-outlet></router-outlet>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>